#signOutBtn{
    display: none;
}
#dropDownBtn{
    cursor: pointer;
}

#dropDownBtn:hover #signOutBtn{
    display: block;

}

@media (max-width: 420px) {
    #MenuLinks{
        display: none;
    }
}
